html, body, main{
    margin: 0em;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: greenyellow;
}

#navbar{
    padding-top: 0em;
    text-align: right;
    margin: 0em;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#req{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
}

.reqText{
    font-family: monospace;
    color: gray;
}

#navbar.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    #banner{
        font-size: 20px;
    }
    #req{
        font-size: 10px;
    }
    #navbar{
        font-size: 15px;
    }
}