html, body, main{
    margin: 0em;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: greenyellow;
}

#navbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-top: 0em;
    text-align: right;
    margin: 0em;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Courier New','Helvetica Neue', sans-serif;
    font-size: 1.5em;
    overflow: hidden;
    background-color: #150485;
    color: #c62a88;
}

#req{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
}

.reqText{
    font-family: monospace;
    color: gray;
}

.page1{
    height: 100%;
    font-size: 2.8em;
    text-align: center, justify;
}

#page1{
    font-family: 'Courier New','Helvetica Neue', sans-serif;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
}

.container{
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    #req{
        font-size: 10px;
    }
    #navbar{
        font-size: 0.8em;
    }
}